services:
  api-gc:
    container_name: conversor-genesys-excel
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env

    labels:
      - "traefik.enable=true"

      # HTTP
      - "traefik.http.routers.gc-http.rule=Host(`gerarexcel4me-proxxima.s4me.app`) && PathPrefix(`/`)"
      - "traefik.http.routers.gc-http.entrypoints=http"

      # HTTPS
      - "traefik.http.routers.gc-https.rule=Host(`gerarexcel4me-proxxima.s4me.app`) && PathPrefix(`/`)"
      - "traefik.http.routers.gc-https.entrypoints=https"
      - "traefik.http.routers.gc-https.tls.certresolver=myresolver"

      # Service
      - "traefik.http.services.gc.loadbalancer.server.port=3000"

    networks:
      - middleware-proxxima_net-middleware

networks:
  middleware-proxxima_net-middleware:
    external: true
